<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeni Sipariş Ekle</title>
</head>
<body>
    <div class="container">
        <h1>Yeni Sipariş Ekle</h1>
        <form method="post" class="form-box">
            <textarea name="bilgiler" rows="10" placeholder="Sipariş bilgilerini buraya yazın"></textarea>
            <button type="submit">Kaydet</button>
        </form>
        <a href="{{ url_for('index') }}" class="back-link">Geri</a>
    </div>
</body>
</html>
